

.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* This property creates space around flex items */
}

.card {
  background-color: wheat;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  flex: 1 0 calc(33% - 20px);
}

.card-title,
.card-date,
.card-category,
.card-tags {
  margin-bottom: .5em;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}